<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choool.qianqianbot.mapper.GroupMapper">
    <resultMap id="BaseResultMap" type="com.choool.qianqianbot.entity.Group">
        <!--@mbg.generated-->
        <!--@Table GROUP_-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="GROUP_CODE_NUMBER" jdbcType="BIGINT" property="groupCodeNumber"/>
        <result column="GROUP_SWITCH" jdbcType="INTEGER" property="groupSwitch"/>
        <result column="GROUP_AVATAR" jdbcType="VARCHAR" property="groupAvatar"/>
        <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, GROUP_CODE_NUMBER, GROUP_SWITCH, GROUP_AVATAR, GROUP_NAME, CREATED_TIME
    </sql>
    <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.choool.qianqianbot.entity.Group"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into GROUP_
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupCodeNumber != null">
                GROUP_CODE_NUMBER,
            </if>
            <if test="groupSwitch != null">
                GROUP_SWITCH,
            </if>
            <if test="groupAvatar != null">
                GROUP_AVATAR,
            </if>
            <if test="groupName != null">
                GROUP_NAME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupCodeNumber != null">
                #{groupCodeNumber,jdbcType=BIGINT},
            </if>
            <if test="groupSwitch != null">
                #{groupSwitch,jdbcType=INTEGER},
            </if>
            <if test="groupAvatar != null">
                #{groupAvatar,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <sql id="Join_Column_List">
        <!--@mbg.generated-->
        GROUP_.ID as GROUP__ID, GROUP_.GROUP_CODE_NUMBER as GROUP__GROUP_CODE_NUMBER, GROUP_.GROUP_SWITCH as
        GROUP__GROUP_SWITCH,
        GROUP_.GROUP_AVATAR as GROUP__GROUP_AVATAR, GROUP_.GROUP_NAME as GROUP__GROUP_NAME,
        GROUP_.CREATED_TIME as GROUP__CREATED_TIME
    </sql>
    <resultMap id="JoinResultMap" type="com.choool.qianqianbot.entity.Group">
        <!--@mbg.generated-->
        <id column="GROUP__ID" jdbcType="INTEGER" property="id"/>
        <result column="GROUP__GROUP_CODE_NUMBER" jdbcType="BIGINT" property="groupCodeNumber"/>
        <result column="GROUP__GROUP_SWITCH" jdbcType="INTEGER" property="groupSwitch"/>
        <result column="GROUP__GROUP_AVATAR" jdbcType="VARCHAR" property="groupAvatar"/>
        <result column="GROUP__GROUP_NAME" jdbcType="VARCHAR" property="groupName"/>
        <result column="GROUP__CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2021-08-02-->
    <select id="selectByGroupCodeNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from GROUP_
        where GROUP_CODE_NUMBER=#{groupCodeNumber,jdbcType=BIGINT}
    </select>
</mapper>